
.Weather {
    max-width: 700px;
    margin: 80px auto;
    background-color: #FCFCFC;
    border: 1px solid #dadde1;
    padding: 50px;
    border-radius: 4px;
    font-family: Segoe UI, Segoe WP, Arial, Sans-Serif;;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   
}
ul {
    color: rgb(135, 135, 135);
}


form {
    margin: 30px 0 30px 10px;
}

input[type="search"] {
    width: 110%;
    padding: 13px 40px;
    border-radius: 12px;
   background-color: #F2F2F2;
   background-image: "<i class="fa fa-search" aria-hidden="true"></i>";
   border: none;
   margin: 0 auto;
   color: rgba(3, 78, 82, 0.866);
   
   
}
.fa-search {
   font-size: 32px;
   position: relative;
   top: 5px;
   left: 40px;
   color: rgb(11, 135, 142);
   text-shadow: 1px 1px #d5c5c5;
   
}

button {
    border-style: none;
    background-color: transparent ;
}

input:hover {
    opacity: 0.8; 
}
input:focus {
    background-color: #F2F2F2;
}


li {
    list-style: none;
}

.temperature h1 {
    position: relative;
    left: 110px;
    bottom: 20px;
    font-weight:bold;
    font-size: 40px;
    color: black
}
.temperature h2 {
    font-size: 50px;
    position: relative;
    right: 8px;
}

.celcius{
    font-size: 18px;
    position: relative;
    bottom: 20px;
}
footer {
    color: #27214266;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-top: 40px;
}
img {
    position: relative;
    bottom: 16px;
}